body {
  background-color: white;
}

#card-container {
  width: 40vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 12px;
}

.cards {
  width: 48px;
  border-radius: 4px;
  padding: 20px;
  background-color: whitesmoke;
}

/* test  */